/* CSS files add styling rules to your content */

* {
  box-sizing: border-box;
}

body {
  font-family: helvetica, arial, sans-serif;
  margin: 2em;
  font-size:16px;
  border-style: solid;
  border-width: thick;
  border-color: white;
  max-width: 800px;
  margin: 2em auto;
  
}

h3 {
  font-family:arial;
  color: black;
  background-color: white;
  padding:25px;
  font-size:16px;
  width: 100%;
}

#top {
  margin: .5em 0;
  text-align: center;
}

h4.instructions {
  margin: 10px 0;
}

#shuffle {
  background-color: #F9D0C2;
  border: 3px solid #FF3333;
  padding: 10px 15px;
  border-radius: 10px;
  margin: 10px 20px;
  cursor: pointer;
  font-size: 20px;
  color: black;
}

#cards {
  background-color:#EAEAED;
  font-size:30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  border-radius: 5px;
  border: 2px solid #DADADD;
}

.section {
  width: 370px;
  margin: .5em 0;
  font-size:30px;
  text-align: center;
  padding: 20px 0;
  border-radius: 5px;
}

.green {
  background-color: #00a886;
}

.blue {
  background-color: #2c328c;
}

#game, #verb, #challenge, #value {
  font-weight: normal;
}

#gameCard{
  background-color: pink;
}

#challengeCard{
  background-color: orange;
}